<html>
<head>
</head>
<body>
<div id="content"></div>

</body>
    <script type="text/javascript">
        function reqListener () {
            ifr = document.createElement("iframe");
            ifr.innerHTML = this.responseText;

            content = document.getElementById("content");
            content.appendChild(ifr);
        }

        var xhr = new XMLHttpRequest();
		xhr.addEventListener("load", reqListener);
        xhr.open('GET', 'http://localhost:5000/test');
        xhr.send();
    </script>
</html>
