<html>
<head>
</head>
<body>
Tests for the cross-origin iframe permissions

<ol>
    <li>
        <a href="{{ url_for('microphone_embed')}}">
            Access microphone
        </a>
        <mark>Sucess</mark>
    </li>
    <li>
        <a href="{{ url_for('iframe_src')}}">
            Access microphone from iframe
        </a>
        <mark>Sucess</mark>
    </li>
    <li>
        <a href="{{ url_for('iframe_src_diff')}}">
            Access microphone from iframe different domain
        </a>
        <mark>Fail</mark>
    </li>
    <li>
        <a href="{{ url_for('iframe_src_diff_allow')}}">
            Access microphone from iframe different domain, allow=microphone
        </a>
        <mark>Sucess</mark>
    </li>
    <li>
        <a href="{{ url_for('iframe_src_diff_header')}}">
            Access microphone from iframe different domain, Feature-Policy set
        </a>
        <mark>Sucess</mark>
    </li>
    <li>
        <a href="{{ url_for('form_get_samehost')}}">
            Access microphone from iframe using a form
        </a>
        <mark>Sucess</mark>
    </li>
    <li>
        <a href="{{ url_for('form_get_diffhost')}}">
            Access microphone from iframe different domain using a form
        </a>
        <mark>Fail</mark>
    </li>
    <li>
        <a href="{{ url_for('form_get_diff_policy')}}">
            Access microphone from iframe different domain using a form, Feature-Policy set
        </a>
        <mark>Sucess</mark>
    </li>
    <li>
        <a href="{{ url_for('post_from_diff_policy_allow')}}">
            Access microphone from iframe different domain using post form, Feature-Policy set and allow=microphone set
        </a>
        <mark>Fail</mark>
    </li>
</ol>
</body>
</html>