<html>
<head>
</head>
<body>
<div id="content">

</div>

</body>
    <script type="text/javascript">
        function reqListener () {
            theframe = document.getElementById("myframe");
            console.debug(this.reponseText);
			content = document.getElementById("content");
			content.innerHTML = this.responseText;
        }

        var xhr = new XMLHttpRequest();
		xhr.addEventListener("load", reqListener);
        xhr.open('GET', 'http://localhost:5001/test');
        xhr.send();

function processData(data) {


}
    </script>
</html>
